[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
gunicorn = "*"
Flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
